.secao-login {
  width: 60vw;
  height: 70vh;
  display: flex;
  background: rgb(59, 62, 165);
  position: relative;
  top: 14vh;
  left: 39vh;
  border-radius: 10%;
}

.img-login {
  width: 60%;
  border-radius: 10%;
  box-shadow: inset 0 10px 8px -10px white;
  background: url(../Assets/Login-img-fundo.png) center/cover;
}

.login-area {
  width: 40%;
  background: rgb(59, 62, 165);
  border-radius: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#text-login,
#login-div {
  width: 100%;
  height: 25%;
  position: relative;
  background: rgb(34, 174, 255);
}

.title-div {
  font-family: "Akatab", sans-serif;
  font-weight: 800;
  font-style: normal;
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 5vh;
}

.title-div h1 {
  position: relative;
  color: white;
  text-shadow: 6px 6px 12px #31205a, -6px -6px 12px #a18cff;
}

.e-mail-div,
.password-div {
  position: relative;
  width: 82%;
  height: 10%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-div {
  flex-direction: row;
}

.eye-button {
  height: 3vh;
  width: 3vh;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.eye-button:hover,
.forgot-button:hover,
.button-enter:hover,
.create:hover,
#button-or:hover {
  transform: scale(1.1);
}

.forgot-password-div {
  justify-content: center;
  align-items: center;
}

.forgot-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 4vh;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Akatab", sans-serif;
  font-weight: 800;
  color: white;
  padding: 2vh;
}

.forgot-button h6 {
  margin: 0;
  text-align: center;
}

.forgot-button {
  width: 9vw;
  height: 2vh;
}

.button-enter {
  width: 80%;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Akatab", sans-serif;
  font-weight: 800;
  font-style: normal;
  transition: 0.1s ease-in-out;
}

.button-enter {
  height: 7vh;
  width: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #9e9e9e;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  box-shadow: 6px 6px 12px #31205a, -6px -6px 12px #7252ff;
  border: 1px solid #e8e8e8;
}

.button-enter:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px white;
}

#row-buttons-or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button-or {
  height: 6vh;
  width: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #31205a, -6px -6px 12px #7252ff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button-or:hover {
  transform: scale(1.1);
  border: 1px solid white;
}

.button-or:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px white;
}

.create-accont {
  width: 20vw;
  height: 3vh;
  background: transparent;
  font-family: "Akatab", sans-serif;
  font-weight: 800;
}

.create {
  height: 8vh;
  width: 8vw;
  border: none;
  position: relative;
  cursor: pointer;
  background: transparent;
  text-decoration: underline white;
}

.e-mail-div i,
.password-div i,
.forgot-password-div i {
  color: white;
}

.create-account-button {
  height: 3vh;
  width: 26vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #9e9e9e;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  box-shadow: 6px 6px 12px #31205a, -6px -6px 12px #7252ff;
  border: 1px solid #e8e8e8;
  font-family: "Akatab", sans-serif;
  font-weight: 800;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  margin: 4vh;
}

.create-account-button:hover {
  border: 1px solid white;
  transform: scale(1.1);
}

.create-account-button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px white;
}