  .secao-login {
    width: 60vw;
    height: 70vh;
    display: flex;

    background-color: rgb(0, 255, 21);

    position: relative;
    top: 14vh;
    left: 40vh;
    border-radius: 10%;
  }

  .img-login {
    width: 60%;
    background-color: rgb(0, 128, 255);
    border-radius: 10%;

    box-shadow: inset 0 10px 8px -10px rgb(255, 255, 255);
  }

  .login-area {
    width: 40%;
    background-color: rgb(0, 255, 21);
    border-radius: 3%;
  }